{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-4">Welcome to the Control Center</h1>
<div class="d-flex justify-content-center align-items-center gap-4 mt-4">
    <div class="p-3 border border-2 w-50 rounded-3 mx-3">
        <div class="d-flex justify-content-center align-items-center">
            <h4> Profile Edit Settings </h4>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 mt-3">
            <a href="{% url 'edit_user'  %}" class="btn btn-danger">Edit User Data</a>
            <a href="{% url 'edit_password' %}" class="btn btn-danger">Change User Password</a>
        </div>
    </div>
    <div class="p-3 border border-2 w-50 rounded-3 mx-3">
        <div class="d-flex justify-content-center align-items-center">
            <h4> Adding Musician and Album </h4>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-4 mt-3">
            <a href="{% url 'add_mus' %}" class="btn btn-info">Add Musician</a>
            <a href="{% url 'add_album' %}" class="btn btn-success">Add Album</a>
        </div>
    </div>
</div>
{% endblock %}